.vscode/**
.vscode-test/**
test/**
.gitignore
.history
.eslintrc.json
jest.config.js
tscofnig.json
node_modules
scripts
reports
src
!src/webview/dist
!src/webview/public/index.html
!src/assets/images/**
!src/assets/logo.png
out/**
!out/extension*
docs/**
